body {
  /* font-family: 'Roboto', sans-serif; */
  /* background-image: url('../assets/images/logan.jpg'); */
  /* color: white; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  margin-bottom: 50px;
}

.mainTitle, .mainHeader {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
/***************/

/* Nav */
.mainHeader ul {
  list-style: none;
  display: inline;
  margin-left: 0px;
  padding-left: 0;
}

.mainHeader li {
  font-weight: 300;
  font-size: 1em;
  margin-left: 5px;
  display: inline;
}

.mainHeader li:first-child {
  margin-left: 0px;
}

.mainHeader li:nth-child(1):hover {
  color:#F8807F;
}
.mainHeader li:nth-child(2):hover {
  color: #1DA8E1;
}

.mainHeader li:nth-child(3):hover {
  color: #73E48C;
}

.mainHeader li:nth-child(4):hover {
  color: #F8807F;
}


.mainHeader a {
  text-decoration: none;
  color: inherit;
}

/***************/

/* Social Links */

.mainSocial li:first-child {
  margin-left: 0px;
}
.mainSocial ul {
  list-style: none;
  display: inline;
  padding-left: 0;
}

.mainSocial li {
  display: inline;
  margin-left: 5px;
}

.mainSocial a {
  text-decoration: none;
}

.fa-facebook, .fa-snapchat-ghost, .fa-twitter, .fa-instagram, .fa-github, .fa-digital-ocean {
  /* color: white; */
  color: black;
  font-size: 1.2em;
}

.fa-facebook:hover {
  color:#3B5998;
}

.fa-snapchat-ghost:hover {
  color: #FFFC00;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  color: #E4405F;
}

.fa-github:hover {
  color: #6C3483;
}

.fa-digital-ocean:hover {
  color: #0080FF;
}

/***************/

/******************************
BODY
******************************/


.fa-js {
  color: #f7df1e;
}

.fa-vuejs {
  color: #42b883;
}

.icon-ruby {
  color: #cc342d;
}

.fa-python {
  color: #4584b6;
}

.icon-redhat {
  color: #cc0000;
}

.icon-debian {
  color: #a80030;
}

.fa-microsoft {
  color: #0078d7;
}



.mainBody a, h5 a, p a {
  text-decoration: none;
  color: inherit;
  font-weight: 500
}

p a:hover {
  color: #F8807F;
  text-decoration: none;
}


.about a:hover {
  color: #F8807F;
}

.experience a:hover {
  color: #1DA8E1;
}

.experience ul {
  text-decoration: none;
  list-style: none;
}

h5 {
  font-weight:400;
}


h6 {
  font-weight:400;
}

.list-group-item {
  padding: .3rem 1.25rem;
}
pre, code{
    white-space:normal;
}
/******************************
FOOTER
******************************/
